/* Réinitialisation totale de la page */
html, body, #root {
  scroll-behavior: smooth; /* Ajoute l'effet de glissement fluide */
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #070b14;
}

/* Écraser les paramètres par défaut de Vite sur la balise root */
#root {
  max-width: none !important; /* Annule la limite de 1280px */
  text-align: left !important;
  display: block !important;
}

* {
  box-sizing: border-box;
}